// Color
$color_main: #111111;
$color_second: #999999;
$color_white: #ffffff;
$color_accent: #76c7c0;
$color_error: #e03f3f;

// Background
$bg_main: #ffffff;
$bg_second: #e4e3e3;
$bg_accent: #76c7c0;
$bg_error: #e03f3f;
